/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F8ECDF; /* Main background color */
  color: #5F4100; /* Main text color */
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .header {
  background-color: rgba(255, 222, 171, 0.9); 
  color: #333; 
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  z-index: 2;
} */

/* .navBar {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 222, 171, 0.9);
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navBar a {
  margin: 0 15px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.navBar a:hover {
  color: #FFAE42;
} */

.heroSection {
  background-image: url('../src/Images/hero-image.png'); /* Path to your hero image */
  background-size: cover;
  background-position: center;
  color: #FFFFFF; /* White text on dark background */
  padding: 100px 20px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.heroSection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Dark overlay for better text contrast */
  z-index: 1;
}

.heroSection button {
  position: relative;

  z-index: 2;
}

button {
  background-color: #FFDEAB; /* Button background color */
  color: #5F4100;
  border: none;
  padding: 15px 30px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  /* font-weight: bold; */
}

button:hover {
  background-color: #E5C89A; /* Button hover color */
}

.contentSection {
  height: 300px;
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentSection h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.contentSection p {
  font-size: 20px;
  margin-bottom: 40px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* .card {
  background-color: #F8ECDF; 
  color: #333;
  width: 300px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
} */

/* .footer {
  background-color: #F8ECDF; 
  color: #333; 
  text-align: center;
  padding: 20px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
} */

#get-message-button {
  margin-top: 10px;
}

