/* Style file for LoginForm */
.login-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.login-form h2 {
    margin: 0 0 20px 0;
    font-size: 24px;
}

.login-form input {
    width: 380px;
}

.login-button {
    margin-top: 15px;
}

.terms {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
}

.terms .underline {
    text-decoration: underline;
    cursor: pointer;
}

.terms .underline:hover {
    color: #7C580D;
}

.form-other {
    margin-top: 30px;
}

.form-other ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 14px;
}

.form-other li {
    text-decoration: underline;
    transition: color 0.3s ease;
    cursor: pointer;
}

.form-other li:hover {
    color: #7C580D;
}

#success-message {
    font-size: 14px;
    font-weight: 700px;
    color: green;
}