.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    flex: 1;
}

.divider {
    display: flex;
    flex-direction: row;
}

.divider .line {
    color: #656565;
}

.divider p {
    margin: 4px 10px;
    font-size: 14px;
}

.create-account-button {
    width: 450px;
}