/* The Modal (background) */
.modal {
    display: block; /* Make the modal visible */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    transition: opacity 1s ease, transform 1s ease;  /* Smooth transition */
    background-color: rgba(0, 0, 0, 0.3);
}

/* Modal Content */
.modal-content {
    background-color: #fff8f3;
    margin: 5% auto; /* 5% from the top and centered */
    margin-bottom: 0;
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Adjust the width of the modal */
    border-radius: 8px; /* Rounded corners for the modal */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Add some shadow */
}

/* Form Styling */
.modal-content form {
    background-color: #fff8f3;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
}

.modal-content label {
    color: #6b4f18;
}

.modal-content input[type="text"],
.modal-content textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.modal-content button {
    margin-top: 20px;
}

/* Zones list container */
.zones-list {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
    width: 100%;
    max-width: 90%;
    max-height: 250px;
    overflow-y: auto;
}

.zones-list input {
    margin-bottom: 0;
}

/* Ensure checkboxes and labels are left aligned */
.zones-list div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.zones-list label {
    padding-top: 10px;
    font-size: 13.5px;
    font-weight: 400;
}

/* Custom checkbox styles */
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    margin-right: 15px;
}

/* Checkbox styles when checked */
input[type="checkbox"]:checked {
    background-color: #ffca7a;
    border: 0.5px solid #888;
}

/* Add checkmark symbol using pseudo-element */
input[type="checkbox"]:checked::before {
    content: '✓';
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Hover effect for checkbox */
input[type="checkbox"]:hover {
    border-color: #FFAE42;
}