.feedback-modal {
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /* Black background with transparency */
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-modal-content {
    background-color: #F8ECDF;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    max-width: 600px;
    text-align: left;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.feedback-modal-content textarea {
    height: 100px;
    width: 95%;
}

.feedback-modal-content input {
    width: 95%;
}